/* Cara Kedua memberikan Style dengan CSS Preprocessor SASS karena sering digunakan*/

// ciri khas jika menggunakan syntax SASS (Perbedaan dengan menggunakan PLAIN)

$biru: #2196;
$abang: firebrick;

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.btn-info {
    border-color: $biru;
    color: dodgerblue;
    border-radius: 5px;

    &:hover {
        background: $biru;
        color: white;
    }
}

.btn-danger {
    border-color: $abang;
    color: dodgerblue;
    border-radius: 5px;

    &:hover {
        background: $abang;
        color: white;
    }
}